---
layout: page
title: About me
subtitle: Mahesh Gaikwad (CEO and Director)
---


{% include JB/setup %}




<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header-title">
          <h2 class="heading-title text-center">About Me</h2>
        </div>
      </div>
    </div>
  </div>




<img src="{{BASE_PATH}}/img/mahesh.png" alt="Mahesh Gaikwad">




  <div class="mb-60"></div>


  <h3 class="sub-title">Mahesh Gaikwad (CEO & Director)</h3>
<p>
Currently an <span class="bg-primary">Educator, Researcher and Mechanical Engineer. </span> Previously worked as a <span class="bg-success">CAE Engineer </span> (Xitadel CAE, Bangalore)
and freelancer at Kaggle and Upwork.
</p>
<p>
Obtained my  <span class="bg-warning"> ME in Design Engineering </span> from the University of Pune (VPKBIET) and my  <span class="bg-warning"> Bachelor of Mechanical Engineering </span> from the University of Pune, India. My masters thesis project involved Analysis of
hip Implant.
</p>




<div class="team-members mtb-50">
  <div class="sub-title">
    <span>Tech Skills</span>
  </div>
  <div class="row">


    <div class="col-sm-6 col-md-4">
      <div class="team-item">
        <figure class="team-profile">
          <img src="{{ BASE_PATH }}/img/logo/Solidworks.png" alt="">
        </figure>
        <div class="info">
          <h2>
            Solidworks
          </h2>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="team-item">
        <figure class="team-profile">
          <img src="{{ BASE_PATH }}/img/logo/ansa.png" alt="">
        </figure>
        <div class="info">
          <h2>
            ANSA
          </h2>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="team-item">
        <figure class="team-profile">
          <img src="{{ BASE_PATH }}/img/logo/ansys.png" alt="">
        </figure>
        <div class="info">
          <h2>
            Ansys
          </h2>
        </div>
      </div>
    </div>
</div>

  <div class="row">


    <div class="col-sm-6 col-md-4">
      <div class="team-item">
        <figure class="team-profile">
          <img src="{{ BASE_PATH }}/img/logo/solidedge.png" alt="">
        </figure>
        <div class="info">
          <h2>
            Solidedge
          </h2>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="team-item">
        <figure class="team-profile">
          <img src="{{ BASE_PATH }}/img/logo/nx.jpg" alt="">
        </figure>
        <div class="info">
          <h2>
            Unigraphics
          </h2>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="team-item">
        <figure class="team-profile">
          <img src="{{ BASE_PATH }}/img/logo/autocad.png" alt="">
        </figure>
        <div class="info">
          <h2>
            Autocad 2D
          </h2>
        </div>
      </div>
    </div>
</div>




  <div class="row">


    <div class="col-sm-6 col-md-4">
      <div class="team-item">
        <figure class="team-profile">
          <img src="{{ BASE_PATH }}/img/logo/python.png" alt="">
        </figure>
        <div class="info">
          <h2>
            Python
          </h2>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="team-item">
        <figure class="team-profile">
          <img src="{{ BASE_PATH }}/img/logo/flutter.png" alt="">
        </figure>
        <div class="info">
          <h2>
            Flutter
          </h2>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="team-item">
        <figure class="team-profile">
          <img src="{{ BASE_PATH }}/img/logo/android.jpg" alt="">
        </figure>
        <div class="info">
          <h2>
            Android Studio
          </h2>
        </div>
      </div>
    </div>
</div>




  <div class="mb-60"></div>

<div class="col-md-4">
  <h4 class="contact-info-title">Contact Information</h4>
  <div class="contact-info">
    <address>
    <i class="fa fa-map-marker icons cyan-color contact-info-icon"></i>
    Mahesh Gaikwad
    <br>
    CEO and Director
  </address>
    <div class="tel-info">
      <a href="tel:7775906525"><i class="fa fa-mobile icons cyan-color contact-info-icon"></i>+91 7775906525</a>
    </div>
    <a href="mailto:lantoniotrento@gmail.com"><i class="fa fa-envelope-o icons cyan-color contact-info-icon"></i>concretesteelbond@gmail.com</a>
    {% include social-block.html %}
  </div>
</div>
